services:
  holdings-ingester:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: holdings-ingester
    environment:
      - PORT=${PORT}
      - CLICKHOUSE_HOST=${CLICKHOUSE_HOST}
      - CLICKHOUSE_PORT=${CLICKHOUSE_PORT}
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
      - CLICKHOUSE_DATABASE=${CLICKHOUSE_DATABASE}
    working_dir: /app
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      clickhouse:
        condition: service_healthy
    ports:
      - "${PORT}:${PORT}"
    restart: unless-stopped

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: ssmif_local_ch
    environment:
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./init/clickhouse:/docker-entrypoint-initdb.d
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "clickhouse-client --query 'SELECT 1' --password=${CLICKHOUSE_PASSWORD} --host=localhost || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s